services:
  influxdb:
    image: influxdb:2.7
    container_name: ptt-influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: ptt-sentiment-2026
      DOCKER_INFLUXDB_INIT_ORG: ptt-lab
      DOCKER_INFLUXDB_INIT_BUCKET: ptt_sentiment
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ptt-dev-token

  grafana:
    image: grafana/grafana:11.0.0
    container_name: ptt-grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_UNIFIED_ALERTING_ENABLED: "true"
    depends_on:
      - influxdb

volumes:
  influxdb-data:
  grafana-data:
